Repository Prowlcorp/Pokemon-Showdown-VProwl, changes with the owners that CODEOWNERS names for each.
All owners: @TheImmortal, @HoeenCoder, @Marty-D, @monsanto, @AnnikaCodes, @KrisXV

CODEOWNERS:

config/formats.ts @TheImmortal
data/mods/*/random-teams.ts @TheImmortal
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/text/ @Marty-D
databases/ @monsanto
server/chat-plugins/hosts.ts @AnnikaCodes
server/chat-plugins/othermetas.ts @KrisXV @TheImmortal
server/chat-plugins/random-battles.ts @KrisXV @TheImmortal
server/modlog.ts @monsanto

a
  server/rooms.ts
  sim/SIM-PROTOCOL.md
  sim/battle-queue.ts
Owners: none

a
  server/chat-plugins/othermetas.ts
  server/chat-plugins/random-battles.ts
Owners: @KrisXV, @TheImmortal

Update importer.ts
  tools/set-import/importer.ts
Owners: none

Update importer.ts
  tools/set-import/importer.ts
Owners: none

Update exhaustive-runner.ts
  sim/tools/exhaustive-runner.ts
Owners: none

Update datasearch.ts
  server/chat-plugins/datasearch.ts
Owners: none

Update info.ts
  server/chat-commands/info.ts
Owners: none

Update team-validator.ts
  sim/team-validator.ts
Owners: none

a
  config/formats.ts
  data/aliases.ts
  data/random-teams.ts
Owners: @TheImmortal

a
  config/formats.ts
  data/aliases.ts
Owners: @TheImmortal

Update moves.ts
  data/moves.ts
Owners: none

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

a
  config/formats.ts
  data/moves.ts
  sim/dex-species.ts
Owners: @TheImmortal

a
  config/formats.ts
  sim/dex-species.ts
Owners: @TheImmortal

a
  sim/battle.ts
  sim/pokemon.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

a
  data/moves.ts
  data/pokedex.ts
  data/text/abilities.ts
Owners: @Marty-D

a
  config/formats.ts
  data/moves.ts
Owners: @TheImmortal

Update moves.ts
  data/moves.ts
Owners: none

Update conditions.ts
  data/conditions.ts
Owners: none

a
  config/formats.ts
  data/moves.ts
  tools/set-import/importer.ts
Owners: @TheImmortal

a
  config/formats.ts
  data/aliases.ts
  server/chat-commands/core.ts
  tools/set-import/importer.ts
Owners: @TheImmortal

Update moves.ts
  data/moves.ts
Owners: none

Update formats.ts
  config/formats.ts
Owners: @TheImmortal

a
  config/formats.ts
  package.json
Owners: @TheImmortal

a
  PROTOCOL.md
  data/FORMES.md
  data/abilities.ts
  data/moves.ts
  data/rulesets.ts
  server/chat-plugins/random-battles.ts
  sim/SIM-PROTOCOL.md
  sim/battle.ts
  sim/dex-data.ts
  sim/dex.ts
  sim/global-types.ts
  sim/pokemon.ts
  sim/team-validator.ts
  sim/tools/exhaustive-runner.ts
  tools/set-import/importer.ts
Owners: @KrisXV, @TheImmortal

Update pokedex.ts
  data/pokedex.ts
Owners: none

a
  .gitignore
  config/CUSTOM-RULES.md
  config/hosts.csv
  config/proxies.csv
Owners: none

a
  config/config-example.js
  config/config.js
  server/sockets.ts
Owners: none

Revert "a"
  config/config-example.js
  config/config.js
  server/sockets.ts
Owners: none

Create formats-data.ts
  data/formats-data.ts
Owners: none

Update formats-data.ts
  data/formats-data.ts
Owners: none

Update formats-data.ts
  data/formats-data.ts
Owners: none

Update formats-data.ts
  data/formats-data.ts
Owners: none

Update formats-data.ts
  data/formats-data.ts
Owners: none
