Repository Prowlcorp/Pokemon-Showdown-VProwl, changes with the owners that CODEOWNERS names for each.
All owners: @TheImmortal, @HoeenCoder, @Marty-D, @mia-pi-git, @AnnikaCodes, @KrisXV

a
  data/conditions.ts
  data/items.ts
  data/random-teams.ts
  data/scripts.ts
  data/text/moves.ts
Owners: @TheImmortal, @Marty-D

a
  data/abilities.ts
Owners: none

Overhaul 1
  data/random-teams.ts
  data/scripts.ts
  data/text/default.ts
  server/chat-commands/admin.ts
  server/chat-commands/core.ts
  server/chat-commands/info.ts
  server/chat-commands/room-settings.ts
  server/chat-plugins/chatlog.ts
  server/chat-plugins/datasearch.ts
  server/chat-plugins/helptickets.ts
  server/chat-plugins/modlog-viewer.ts
  server/chat.ts
  sim/dex-moves.ts
  sim/team-validator.ts
Owners: @TheImmortal, @Marty-D

Overhaul 1
  data/abilities.ts
  data/text/abilities.ts
  data/text/items.ts
  data/text/moves.ts
  data/text/pokedex.ts
  sim/dex.ts
  sim/global-types.ts
Owners: @Marty-D

a
  data/moves.js
  data/text/moves.ts
Owners: @Marty-D

a
  data/moves.js
  data/text/moves.ts
Owners: @Marty-D

a
  data/moves.js
  data/text/moves.ts
Owners: @Marty-D

Update moves.js
  data/moves.js
Owners: none

Update moves.js
  data/moves.js
Owners: none

Update moves.js
  data/moves.js
Owners: none

Create moves.ts
  data/moves.ts
Owners: none

a
  data/moves.js
  data/moves.ts
  data/text/moves.ts
Owners: @Marty-D

Update moves.ts
  data/moves.ts
Owners: none

Update moves.js
  data/moves.js
Owners: none

a
  data/moves.js
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

a
  data/moves.js
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.js
  data/moves.js
Owners: none

a
  data/moves.js
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

a
  data/moves.js
  data/moves.ts
  data/rulesets.ts
  data/text/moves.ts
Owners: @Marty-D

Update moves.ts
  data/moves.ts
Owners: none

a
  data/moves.ts
  data/text/moves.ts
Owners: @Marty-D

Delete moves.js
  data/moves.js
Owners: none

Overhaul 1
  PROTOCOL.md
  config/formats.ts
  data/FORMES.md
  data/abilities.ts
  data/aliases.ts
  data/items.ts
  data/learnsets.ts
  data/mods/mixandmega/scripts.ts
  data/moves.ts
  data/pokedex.ts
  data/random-teams.ts
  data/rulesets.ts
  data/text/abilities.ts
  data/text/items.ts
  data/text/moves.ts
  data/text/pokedex.ts
  server/chat-commands/info.ts
  server/chat.ts
  sim/SIM-PROTOCOL.md
  sim/battle.ts
  sim/dex-moves.ts
  sim/dex-species.ts
  sim/dex.ts
  sim/pokemon.ts
  sim/team-validator.ts
  test/tools/modlog/converter.js
Owners: @TheImmortal, @Marty-D

Delete test.yml
  .github/workflows/test.yml
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

Update learnsets.ts
  data/learnsets.ts
Owners: none

Update learnsets.ts
  data/learnsets.ts
Owners: none

Update learnsets.ts
  data/learnsets.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

CODEOWNERS:

data/mods/*/random-teams.ts @TheImmortal
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/text/ @Marty-D
server/chat-plugins/help.ts @mia-pi-git
server/chat-plugins/hosts.ts @AnnikaCodes
server/chat-plugins/othermetas.ts @KrisXV @TheImmortal
server/chat-plugins/random-battles.ts @KrisXV @TheImmortal
