Repository Prowlcorp/Pokemon-Showdown-VProwl, changes with the owners that CODEOWNERS names for each.
All owners: @TheImmortal, @HoeenCoder, @Marty-D, @mia-pi-git, @AnnikaCodes, @KrisXV

CODEOWNERS:

data/mods/*/random-teams.ts @TheImmortal
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/text/ @Marty-D
server/chat-plugins/help.ts @mia-pi-git
server/chat-plugins/hosts.ts @AnnikaCodes
server/chat-plugins/othermetas.ts @KrisXV @TheImmortal
server/chat-plugins/random-battles.ts @KrisXV @TheImmortal

a
  data/abilities.js
  data/abilities.ts
Owners: none

a
  data/abilities.js
  data/abilities.ts
Owners: none

a
  data/abilities.js
  data/abilities.ts
Owners: none

Update abilities.js
  data/abilities.js
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

Update abilities.js
  data/abilities.js
Owners: none

Update abilities.js
  data/abilities.js
Owners: none

Overhaul 1
  data/abilities.js
  data/abilities.ts
Owners: none

Overhaul 1
  data/abilities.ts
  data/pokedex.ts
  data/text/abilities.ts
Owners: @Marty-D

Overhaul
  data/learnsets.js
  data/learnsets.ts
Owners: none

Update learnsets.js
  data/learnsets.js
Owners: none

Update learnsets.ts
  data/learnsets.ts
Owners: none

a
  data/learnsets.js
  data/learnsets.ts
Owners: none

a
  data/learnsets.js
  data/learnsets.ts
Owners: none

a
  data/learnsets.js
  data/learnsets.ts
  data/pokedex.ts
Owners: none

a
  data/learnsets.js
  data/learnsets.ts
  data/pokedex.ts
Owners: none

Update learnsets.js
  data/learnsets.js
Owners: none

Update learnsets.js
  data/learnsets.js
Owners: none

a
  data/learnsets.js
  data/learnsets.ts
Owners: none

a
  data/formats-data.js
  data/text/default.ts
  data/text/pokedex.ts
Owners: @Marty-D

a
  data/items.js
  data/text/items.ts
  data/text/pokedex.ts
Owners: @Marty-D

a
  data/items.js
  data/text/items.ts
Owners: @Marty-D

Overhaul 1
  data/items.js
  data/learnsets.ts
  data/pokedex.ts
  data/text/items.ts
Owners: @Marty-D

Update items.js
  data/items.js
Owners: none

Update items.js
  data/items.js
Owners: none

Update items.js
  data/items.js
Owners: none

Update items.js
  data/items.js
Owners: none

Update items.js
  data/items.js
Owners: none

a
  data/items.js
  data/text/items.ts
Owners: @Marty-D

Update items.js
  data/items.js
Owners: none

a
  data/items.js
  data/text/items.ts
Owners: @Marty-D

Overhaul 1
  data/items.ts
  data/learnsets.ts
  data/text/items.ts
Owners: @Marty-D

a
  translations/english/helptickets.ts
  translations/german/helptickets.ts
  translations/italian/helptickets.ts
  translations/portuguese/helptickets.ts
  translations/spanish/helptickets.ts
Owners: none

a
  build
  package.json
Owners: none

a
  config/config-example.js
  databases/schemas/modlog.sql
  lib/process-manager.ts
  lib/streams.ts
  tools/modlog/converter.ts
  tools/set-import/importer.ts
Owners: none

a
  sim/battle-stream.ts
  sim/battle.ts
  sim/dex-abilities.ts
  sim/dex-conditions.ts
  sim/dex-data.ts
  sim/dex-formats.ts
  sim/dex-items.ts
  sim/dex-moves.ts
  sim/dex-species.ts
  sim/dex.ts
  sim/global-types.ts
  sim/pokemon.ts
  sim/side.ts
  sim/state.ts
  sim/team-validator.ts
Owners: none

a
  sim/dex-moves.ts
  sim/dex-species.ts
  sim/dex.ts
Owners: none

a
  test/server/chat-plugins/responder.js
  test/server/modlog.js
  test/sim/abilities/trace.js
  test/sim/abilities/zenmode.js
  test/sim/moves/skillswap.js
  test/sim/team-validator.js
  test/tools/modlog/converter.js
Owners: none

Overhaul 1
  server/chat-commands/admin.ts
  server/chat-commands/core.ts
  server/chat-commands/info.ts
  server/chat-commands/moderation.ts
  server/chat-commands/room-settings.ts
  server/chat-formatter.ts
  server/chat-plugins/announcements.ts
  server/chat-plugins/battlesearch.ts
  server/chat-plugins/chatlog.ts
  server/chat-plugins/datasearch.ts
  server/chat-plugins/helptickets.ts
  server/chat-plugins/modlog-viewer.ts
  server/chat-plugins/othermetas.ts
  server/chat-plugins/poll.ts
  server/chat-plugins/random-battles.ts
  server/chat-plugins/responder.ts
  server/chat.ts
  server/config-loader.ts
  server/ladders.ts
  server/modlog.ts
  server/monitor.ts
  server/punishments.ts
  server/room-battle.ts
  server/room-game.ts
  server/roomlogs.ts
  server/rooms.ts
  server/tournaments/index.ts
  server/user-groups.ts
  server/users.ts
Owners: @KrisXV, @TheImmortal

Update random-battles.ts
  server/chat-plugins/random-battles.ts
Owners: @KrisXV, @TheImmortal
