Repository Prowlcorp/Pokemon-Showdown-VProwl, changes with the owners that CODEOWNERS names for each.
All owners: @TheImmortal, @HoeenCoder, @Marty-D, @mia-pi-git, @AnnikaCodes, @KrisXV

CODEOWNERS:

data/mods/*/random-teams.ts @TheImmortal
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/text/ @Marty-D
server/chat-plugins/help.ts @mia-pi-git
server/chat-plugins/hosts.ts @AnnikaCodes
server/chat-plugins/othermetas.ts @KrisXV @TheImmortal
server/chat-plugins/random-battles.ts @KrisXV @TheImmortal

Update abilities.ts
  data/abilities.ts
Owners: none

a
  data/abilities.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Overhaul 1
  config/formats.ts
  data/moves.ts
  data/random-teams.ts
  data/rulesets.ts
Owners: @TheImmortal

a
  data/random-teams.ts
  server/chat-plugins/datasearch.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

a
  config/config-example.js
  config/config.js
  data/random-teams.ts
  server/chat-plugins/COMMANDS.md
  server/user-groups.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

Update random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

a
  data/abilities.ts
  data/conditions.ts
  data/items.ts
  data/moves.ts
  data/random-teams.ts
  data/scripts.ts
  data/text/abilities.ts
  data/text/items.ts
  data/text/moves.ts
  sim/battle-queue.ts
  sim/side.ts
Owners: @TheImmortal, @Marty-D
