Repository Prowlcorp/Pokemon-Showdown-VProwl, changes with the owners that CODEOWNERS names for each.
All owners: @TheImmortal, @HoeenCoder, @Marty-D, @monsanto, @AnnikaCodes, @KrisXV

Update items.ts
  data/items.ts
Owners: none

a
  data/learnsets.ts
  data/pokedex.ts
Owners: none

Update formats-data.ts
  data/formats-data.ts
Owners: none

Update items.ts
  data/items.ts
Owners: none

Update items.ts
  data/items.ts
Owners: none

aaa
  config/formats.ts
  data/abilities.ts
  data/conditions.ts
  data/items.ts
  data/moves.ts
  data/pokedex.ts
  data/rulesets.ts
  data/scripts.ts
  data/text/items.ts
  data/text/moves.ts
  sim/battle.ts
  sim/dex-moves.ts
  sim/global-types.ts
  sim/pokemon.ts
Owners: @TheImmortal, @Marty-D

a
  data/conditions.ts
  sim/pokemon.ts
Owners: none

AAA
  data/moves.ts
  sim/battle-queue.ts
  sim/battle.ts
  sim/global-types.ts
Owners: none

Update side.ts
  sim/side.ts
Owners: none

Update conditions.ts
  data/conditions.ts
Owners: none

aa
  data/conditions.ts
  sim/battle-queue.ts
  sim/side.ts
Owners: none

Update scripts.ts
  data/scripts.ts
Owners: none

Update scripts.ts
  data/scripts.ts
Owners: none

Update scripts.ts
  data/scripts.ts
Owners: none

a
  data/scripts.ts
  sim/battle-queue.ts
  sim/battle.ts
  sim/side.ts
Owners: none

Update side.ts
  sim/side.ts
Owners: none

aaa
  data/moves.ts
  data/scripts.ts
  sim/battle-queue.ts
  sim/battle.ts
  sim/side.ts
Owners: none

aaaa
  data/items.ts
  data/scripts.ts
  sim/pokemon.ts
Owners: none

Update scripts.ts
  data/scripts.ts
Owners: none

Update scripts.ts
  data/scripts.ts
Owners: none

Update scripts.ts
  data/scripts.ts
Owners: none

Update scripts.ts
  data/scripts.ts
Owners: none

a
  config/formats.ts
  data/items.ts
  data/scripts.ts
Owners: @TheImmortal

aaa
  config/formats.ts
  data/learnsets.ts
Owners: @TheImmortal

Update formats.ts
  config/formats.ts
Owners: @TheImmortal

a
  config/formats.ts
  data/text/default.ts
Owners: @TheImmortal, @Marty-D

Update formats.ts
  config/formats.ts
Owners: @TheImmortal

Update formats.ts
  config/formats.ts
Owners: @TheImmortal

Update formats.ts
  config/formats.ts
Owners: @TheImmortal

Update formats.ts
  config/formats.ts
Owners: @TheImmortal

a
  server/chat-plugins/datasearch.ts
  sim/dex-species.ts
Owners: none

Revert "a"
  server/chat-plugins/datasearch.ts
  sim/dex-species.ts
Owners: none

aaa
  data/scripts.ts
  sim/pokemon.ts
Owners: none

a
  data/abilities.ts
  data/formats-data.ts
  data/learnsets.ts
  data/pokedex.ts
  data/text/abilities.ts
  data/text/pokedex.ts
  sim/global-types.ts
Owners: @Marty-D

Update abilities.ts
  data/abilities.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update side.ts
  sim/side.ts
Owners: none

a
  sim/battle-queue.ts
  sim/battle.ts
Owners: none

aaa
  config/config.js
  config/formats.ts
  data/abilities.ts
  data/conditions.ts
  data/moves.ts
  data/pokedex.ts
  data/rulesets.ts
  data/scripts.ts
  data/text/abilities.ts
  data/text/moves.ts
  sim/dex-moves.ts
  sim/dex-species.ts
Owners: @TheImmortal, @Marty-D

a
  config/formats.ts
  data/abilities.ts
  data/formats-data.ts
  data/learnsets.ts
  data/moves.ts
  data/pokedex.ts
  data/text/abilities.ts
  data/text/moves.ts
  server/chat-commands/info.ts
  server/chat-plugins/othermetas.ts
  sim/dex-moves.ts
  sim/dex-species.ts
Owners: @TheImmortal, @Marty-D, @KrisXV

CODEOWNERS:

config/formats.ts @TheImmortal
data/mods/*/random-teams.ts @TheImmortal
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/text/ @Marty-D
databases/ @monsanto
server/chat-plugins/hosts.ts @AnnikaCodes
server/chat-plugins/othermetas.ts @KrisXV @TheImmortal
server/chat-plugins/random-battles.ts @KrisXV @TheImmortal
server/modlog.ts @monsanto
