Repository Prowlcorp/Pokemon-Showdown-VProwl, changes with the owners that CODEOWNERS names for each.
All owners: @TheImmortal, @HoeenCoder, @Marty-D, @monsanto, @AnnikaCodes, @KrisXV

CODEOWNERS:

config/formats.ts @TheImmortal
data/mods/*/random-teams.ts @TheImmortal
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/text/ @Marty-D
databases/ @monsanto
server/chat-plugins/hosts.ts @AnnikaCodes
server/chat-plugins/othermetas.ts @KrisXV @TheImmortal
server/chat-plugins/random-battles.ts @KrisXV @TheImmortal
server/modlog.ts @monsanto

Update formats-data.ts
  data/formats-data.ts
Owners: none

Update formats-data.ts
  data/formats-data.ts
Owners: none

a
  config/CUSTOM-RULES.md
  data/random-teams.ts
  server/chat-plugins/datasearch.ts
  server/chat-plugins/random-battles.ts
  sim/dex-species.ts
  sim/dex.ts
  sim/global-types.ts
  sim/team-validator.ts
  tools/set-import/importer.ts
Owners: @TheImmortal, @KrisXV

Update tags.ts
  data/tags.ts
Owners: none

a
  PROTOCOL.md
  data/abilities.ts
  data/learnsets.ts
  server/chat-plugins/random-battles.ts
  sim/battle.ts
  sim/dex-data.ts
  sim/dex.ts
  sim/global-types.ts
  sim/pokemon.ts
Owners: @KrisXV, @TheImmortal

aaa
  PROTOCOL.md
  config/formats.ts
  data/abilities.ts
  data/pokedex.ts
  data/text/items.ts
  server/chat-plugins/random-battles.ts
  sim/battle.ts
  sim/dex-formats.ts
  sim/dex.ts
  sim/pokemon.ts
  sim/team-validator.ts
  tools/set-import/importer.ts
Owners: @TheImmortal, @Marty-D, @KrisXV

Update dex.ts
  sim/dex.ts
Owners: none

Update datasearch.ts
  server/chat-plugins/datasearch.ts
Owners: none

Update datasearch.ts
  server/chat-plugins/datasearch.ts
Owners: none

a
  data/abilities.ts
  data/items.ts
  data/learnsets.ts
  data/moves.ts
  data/pokedex.ts
  data/text/abilities.ts
  data/text/default.ts
  data/text/moves.ts
  data/text/pokedex.ts
  server/chat-commands/info.ts
Owners: @Marty-D

a
  data/moves.ts
  data/text/default.ts
Owners: @Marty-D

Update abilities.ts
  data/abilities.ts
Owners: none

Update aliases.ts
  data/aliases.ts
Owners: none

a
  data/moves.ts
  data/text/moves.ts
Owners: @Marty-D

Update moves.ts
  data/moves.ts
Owners: none

a
  data/moves.ts
  data/text/moves.ts
Owners: @Marty-D

Update items.ts
  data/items.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

a
  data/abilities.ts
  data/items.ts
  data/learnsets.ts
  data/text/abilities.ts
Owners: @Marty-D

a
  data/moves.ts
  data/text/moves.ts
Owners: @Marty-D

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

aaa
  data/moves.ts
  data/text/moves.ts
Owners: @Marty-D

a
  data/moves.ts
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

a
  data/abilities.ts
  data/text/abilities.ts
Owners: @Marty-D

a
  data/natures.ts
  data/text/moves.ts
  server/chat-commands/info.ts
  sim/battle.ts
  sim/dex-data.ts
  sim/dex-species.ts
  sim/global-types.ts
Owners: @Marty-D

Update natures.ts
  data/natures.ts
Owners: none

a
  data/abilities.ts
  data/moves.ts
  data/natures.ts
Owners: none

a
  data/formats-data.ts
  data/items.ts
  data/learnsets.ts
  data/pokedex.ts
  data/text/pokedex.ts
  sim/pokemon.ts
Owners: @Marty-D

a
  data/items.ts
  data/text/items.ts
Owners: @Marty-D

Update items.ts
  data/items.ts
Owners: none

Update items.ts
  data/items.ts
Owners: none

Update items.ts
  data/items.ts
Owners: none

Update pokemon.ts
  sim/pokemon.ts
Owners: none

a
  data/items.ts
  data/text/items.ts
Owners: @Marty-D
