Repository Prowlcorp/Pokemon-Showdown-VProwl, changes with the owners that CODEOWNERS names for each.
All owners: @TheImmortal, @HoeenCoder, @Marty-D, @mia-pi-git, @AnnikaCodes, @KrisXV

Update moves.ts
  data/moves.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update pokedex.ts
  data/pokedex.ts
Owners: none

Update pokedex.ts
  data/pokedex.ts
Owners: none

Update pokedex.ts
  data/pokedex.ts
Owners: none

Update abilities.ts
  data/text/abilities.ts
Owners: @Marty-D

Update abilities.ts
  data/text/abilities.ts
Owners: @Marty-D

Update pokedex.ts
  data/text/pokedex.ts
Owners: @Marty-D

Update pokedex.ts
  data/text/pokedex.ts
Owners: @Marty-D

Update dex-moves.ts
  sim/dex-moves.ts
Owners: none

a
  .gitignore
  build
  config/config.js
Owners: none

a
  server/chat.ts
  server/rooms.ts
Owners: none

Update side.ts
  sim/side.ts
Owners: none

a
  data/FORMES.md
  data/typechart.ts
Owners: none

Update dex.ts
  sim/dex.ts
Owners: none

Update pokemon.ts
  sim/pokemon.ts
Owners: none

Update dex.ts
  sim/dex.ts
Owners: none

a
  server/chat-commands/info.ts
  server/chat-plugins/datasearch.ts
  server/chat-plugins/othermetas.ts
  server/ladders.ts
  sim/battle.ts
  sim/dex.ts
  tools/set-import/importer.ts
  tools/simulate/README.md
Owners: @KrisXV, @TheImmortal

Update datasearch.ts
  server/chat-plugins/datasearch.ts
Owners: none

a
  server/chat-commands/info.ts
  translations/french/main.ts
  translations/german/main.ts
Owners: none

a
  config/formats.ts
  data/aliases.ts
  data/pokedex.ts
  server/chat-commands/info.ts
  sim/dex.ts
Owners: none

Update team-validator.ts
  sim/team-validator.ts
Owners: none

Update team-validator.ts
  sim/team-validator.ts
Owners: none

a
  data/moves.ts
  sim/dex-moves.ts
  sim/team-validator.ts
Owners: none

Update moves.ts
  data/moves.ts
Owners: none

Update formats.ts
  config/formats.ts
Owners: none

a
  data/random-teams.ts
  tools/set-import/importer.ts
Owners: @TheImmortal

Update team-validator.ts
  sim/team-validator.ts
Owners: none

Overhaul 1
  config/formats.ts
  data/scripts.ts
  server/chat-plugins/othermetas.ts
  sim/battle.ts
  sim/dex.ts
  sim/global-types.ts
  sim/team-validator.ts
Owners: @KrisXV, @TheImmortal

Update team-validator.ts
  sim/team-validator.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

a
  data/abilities.ts
  data/pokedex.ts
Owners: none

Update battle.ts
  sim/battle.ts
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

CODEOWNERS:

data/mods/*/random-teams.ts @TheImmortal
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/text/ @Marty-D
server/chat-plugins/help.ts @mia-pi-git
server/chat-plugins/hosts.ts @AnnikaCodes
server/chat-plugins/othermetas.ts @KrisXV @TheImmortal
server/chat-plugins/random-battles.ts @KrisXV @TheImmortal
