Repository Prowlcorp/Pokemon-Showdown-VProwl, changes with the owners that CODEOWNERS names for each.
All owners: @TheImmortal, @HoeenCoder, @Marty-D, @mia-pi-git, @AnnikaCodes, @KrisXV

Overhaul 1
  .eslintrc-no-types.json
  .gitignore
  CONTRIBUTING.md
  build
  config/config-example.js
  config/datacenters.csv
  config/formats.js
  config/formats.ts
  config/usergroups.csv
  package.json
  pokemon-showdown
Owners: none

Overhaul 1
  lib/streams.ts
  tools/modlog/convert
  tools/modlog/converter.ts
Owners: none

Overhaul 1
  sim/battle.ts
  sim/global-types.ts
  test/server/modlog.js
  test/sim/abilities/berserk.js
  test/sim/abilities/ripen.js
Owners: none

Overhaul 1
  databases/schemas/modlog.sql
  server/chat-commands/admin.ts
  server/chat-commands/moderation.ts
  server/chat-plugins/announcements.ts
  server/chat-plugins/chat-monitor.ts
  server/chat-plugins/helptickets.ts
  server/chat.ts
  server/modlog.ts
  server/punishments.ts
  server/rooms.ts
  server/users.ts
Owners: none

Overhaul 1
  data/aliases.ts
  data/conditions.ts
  data/rulesets.ts
  data/scripts.ts
  data/typechart.ts
Owners: none

Overhaul 1
  data/typechart.ts
Owners: none

Overhaul 1
  data/typechart.ts
Owners: none

Overhaul 1
  data/scripts.js
  data/typechart.js
Owners: none

Update scripts.js
  data/scripts.js
Owners: none

Overhaul 1
  data/aliases.js
  data/aliases.ts
  data/scripts.js
  data/scripts.ts
Owners: none

Update statuses.js
  data/statuses.js
Owners: none

Overhaul 1
  data/conditions.ts
  data/statuses.js
Owners: none

Overhaul 1
  data/FORMES.md
  data/natures.ts
  data/rulesets.js
  data/rulesets.ts
  data/tags.ts
Owners: none

Create random-teams.ts
  data/random-teams.ts
Owners: @TheImmortal

Overhaul 1
  data/mods/linked/items.js
  data/mods/linked/moves.js
  data/mods/linked/scripts.js
  data/mods/linked/statuses.js
  data/mods/mixandmega/items.js
  data/mods/mixandmega/items.ts
  data/mods/mixandmega/scripts.js
  data/mods/mixandmega/scripts.ts
  data/mods/pic/moves.js
  data/mods/pic/scripts.js
  data/pokedex.js
  data/text/abilities.ts
  data/text/default.ts
  data/text/items.ts
  data/text/moves.ts
  data/text/pokedex.ts
Owners: @Marty-D

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Overhaul
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Update pokedex.js
  data/pokedex.js
Owners: none

Overhaul 1
  data/abilities.js
  data/pokedex.ts
Owners: none

Create abilities.ts
  data/abilities.ts
Owners: none

Update abilities.ts
  data/abilities.ts
Owners: none

Update abilities.js
  data/abilities.js
Owners: none

Update abilities.js
  data/abilities.js
Owners: none

Overhaul 1
  data/abilities.js
  data/text/abilities.ts
Owners: @Marty-D

Update abilities.ts
  data/abilities.ts
Owners: none

a
  data/abilities.js
  data/abilities.ts
Owners: none

Update abilities.js
  data/abilities.js
Owners: none

Update abilities.js
  data/abilities.js
Owners: none

a
  data/abilities.js
  data/abilities.ts
Owners: none

CODEOWNERS:

data/mods/*/random-teams.ts @TheImmortal
data/mods/ssb/ @HoeenCoder
data/random-teams.ts @TheImmortal
data/text/ @Marty-D
server/chat-plugins/help.ts @mia-pi-git
server/chat-plugins/hosts.ts @AnnikaCodes
server/chat-plugins/othermetas.ts @KrisXV @TheImmortal
server/chat-plugins/random-battles.ts @KrisXV @TheImmortal
